* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #F7F8FC;
    color: #2E2E2E;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.app-content {
    margin-left: 30px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.message-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .app-content {
        margin: auto;
        width: 95%;
    }
}