* {
    margin: 0;
    padding: 0;
    color: #2E2E2E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #F7F8FC;
    color: #2E2E2E;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

@media screen and (max-width: 768px) {
    .app-content {
        margin: auto;
        width: 95%;
    }
}